.mainDiv {
    width: 1600px;
    border: red solid 1px;
    position: relative;
    background: #FFFFFF;
}

.mainDiv div {
    /*border: red solid 1px;*/
}

.lineDevider {
    border: #000000 solid 1px;
    border-collapse: inherit;
}

